/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/
body {
    font-family: "Fredoka One", sans-serif;
}

/*HEADER*/
header {
    margin: 50px 0;
}

h1 {
    font-size: 50px;
    color:purple;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}

/*CONTAINER*/
.container {
    max-width: 1000px;
    margin: 0 auto;
}

/*CLEARFIX*/
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/*COLUMN*/
.column {
    width: calc(100%/3);
    float: left;
}